@media screen and (max-width: 425px) {
  header .date_weather_socilas_bar .container .row .col-md-7 {
    display: flex !important;
    width: 100%;
    justify-content: center !important;
  }
  header .date_weather_socilas_bar .container .row .col-md-7 .d-flex .weather_bar,
header .date_weather_socilas_bar .container .row .col-md-7 .d-flex .signup_bar, header .date_weather_socilas_bar .container .row .col-md-7 .d-flex .contact_bar, header .date_weather_socilas_bar .container .row .col-md-7 .d-flex .blog_bar {
    border: 0 !important;
    margin-right: 0px !important;
    padding: 10px !important;
  }
}
header .date_weather_socilas_bar .container .row .col-md-7 .d-flex .date_bar {
  background-color: #00C8FA;
}
@media screen and (max-width: 1024px) {
  header .date_weather_socilas_bar .container .row .col-md-7 .d-flex .date_bar {
    display: none;
  }
}
header .date_weather_socilas_bar .container .row .col-md-7 .d-flex .date_bar small {
  font-size: 0.8rem !important;
}
header .date_weather_socilas_bar .container .row .col-md-7 .d-flex .weather_bar a,
header .date_weather_socilas_bar .container .row .col-md-7 .d-flex .signup_bar a, header .date_weather_socilas_bar .container .row .col-md-7 .d-flex .contact_bar a, header .date_weather_socilas_bar .container .row .col-md-7 .d-flex .blog_bar a {
  transition: 0.3s ease-in;
}
header .date_weather_socilas_bar .container .row .col-md-7 .d-flex .weather_bar a small,
header .date_weather_socilas_bar .container .row .col-md-7 .d-flex .signup_bar a small, header .date_weather_socilas_bar .container .row .col-md-7 .d-flex .contact_bar a small, header .date_weather_socilas_bar .container .row .col-md-7 .d-flex .blog_bar a small {
  font-size: 0.8rem !important;
}
@media screen and (max-width: 768px) {
  header .date_weather_socilas_bar .container .row .col-md-7 .d-flex .weather_bar a small,
header .date_weather_socilas_bar .container .row .col-md-7 .d-flex .signup_bar a small, header .date_weather_socilas_bar .container .row .col-md-7 .d-flex .contact_bar a small, header .date_weather_socilas_bar .container .row .col-md-7 .d-flex .blog_bar a small {
    font-size: 0.6rem !important;
  }
}
header .date_weather_socilas_bar .container .row .col-md-7 .d-flex .weather_bar a:hover,
header .date_weather_socilas_bar .container .row .col-md-7 .d-flex .signup_bar a:hover, header .date_weather_socilas_bar .container .row .col-md-7 .d-flex .contact_bar a:hover, header .date_weather_socilas_bar .container .row .col-md-7 .d-flex .blog_bar a:hover {
  color: #00C8FA !important;
}
@media screen and (max-width: 425px) {
  header .date_weather_socilas_bar .container .row .col-md-5 {
    display: flex !important;
    justify-content: center !important;
  }
}
header .date_weather_socilas_bar .container .row .col-md-5 .d-flex div a {
  transition: 0.3s ease-in;
}
header .date_weather_socilas_bar .container .row .col-md-5 .d-flex div a small {
  font-size: 0.8rem !important;
}
@media screen and (max-width: 768px) {
  header .date_weather_socilas_bar .container .row .col-md-5 .d-flex div a small {
    font-size: 0.6rem !important;
  }
}
header .date_weather_socilas_bar .container .row .col-md-5 .d-flex div a:hover {
  color: #00C8FA !important;
}
@media screen and (max-width: 425px) {
  header .logo_banner_box .container .row .logo_box {
    display: none !important;
  }
}

nav .container .navbar-toggler {
  background-color: #444444;
  border-radius: 0% !important;
  box-shadow: none !important;
}
nav .container .search_box input {
  background-color: #444444 !important;
  transition: 0.3s ease-in;
  visibility: hidden;
}
nav .container .search_box input::-webkit-input-placeholder {
  color: white !important;
}
nav .container .search_box input.active_search_box {
  visibility: visible;
}
nav .container .search_box .btn-dark {
  background-color: #444444 !important;
}
nav .container .collapse ul li a {
  text-transform: uppercase;
  color: white;
  font-weight: 500;
}
nav .container .collapse ul li a.active {
  color: #00C8FA !important;
}

.marquee_box {
  background-color: #00C8FA;
}
.marquee_box .container .d-flex .news_badge {
  padding: 8px 10px;
  color: white;
  background-color: #F05555;
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
}/*# sourceMappingURL=style.css.map */