// color / styles variables

$primary-color: #00C8FA;
$secondary-color: #F05555;
$dark-color: #1F2024;
$warning-color: #FFC61C;
$pink-color: #FF58C8;
$success-color: #67BF35;
$facebook-brand-color: #516EAB;
$google-brand-color: #EB5E4C;
$twitter-brand-color: #40BFF5;
$dribble-brand-color: #F7659C;
$text-subheading-color-1: #FEC51B;
$text-subheading-color-2: #008BFF;
$text-subheading-color-3: #67BF35;
$nav-btn-dark: #444444;


// header
header {
    .date_weather_socilas_bar {
        .container {
            .row {
                .col-md-7 {
                    @media screen and (max-width: 540px) {
                        display: flex !important;
                        width: 100%;
                        justify-content: center !important;

                        .d-flex {
                            .weather_bar,
                            .signup_bar, .contact_bar, .blog_bar {
                                border: 0 !important;
                                margin-right: 0px !important;
                                padding: 10px !important;
                            }
                        }

                        @media screen and (max-width: 425px) {
                            display: flex !important;
                            width: 100%;
                            justify-content: center !important;
    
                            .d-flex {
                                .weather_bar,
                                .signup_bar, .contact_bar, .blog_bar {
                                    border: 0 !important;
                                    margin-right: 0px !important;
                                    padding: 10px !important;
                                }
                            }
                        }
                    }

                    .d-flex {
                        .date_bar {
                            background-color: $primary-color;

                            @media screen and (max-width: 1024px) {
                                display: none;
                            }
                        
                            small {
                                font-size: .8rem !important;
                            }
                        }

                        .weather_bar,
                        .signup_bar, .contact_bar, .blog_bar {
                            a {
                                transition: .3s ease-in;
                                small {
                                    font-size: .8rem;

                                    @media screen and (max-width: 912px) {
                                        font-size: .7rem;

                                        @media screen and (max-width: 820px) {
                                            font-size: .7rem;

                                            @media screen and (max-width: 768px) {
                                                font-size: .6rem;
                                            }
                                        }
                                    }
                                }

                                &:hover {
                                    color: $primary-color !important;
                                }
                            }
                        }
                    }
                }

                .col-md-5 {
                    @media screen and (max-width: 540px) {
                        display: flex !important;
                        justify-content: center !important;

                        @media screen and (max-width: 425px) {
                            display: flex !important;
                            justify-content: center !important;
                        }
                    }

                    .d-flex {
                        div {
                            a {
                                transition: .3s ease-in;

                                small {
                                    font-size: .8rem !important;

                                    @media screen and (max-width: 768px) {
                                        font-size: .6rem !important;
                                    }
                                }

                                &:hover {
                                    color: $primary-color !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .logo_banner_box {
        .container {
            .row {
                .logo_box {
                    @media screen and (max-width: 540px) {
                        display: none;

                        @media screen and (max-width: 425px) {
                            display: none !important;
                        }
                    }
                }
            }
        }
    }
}

// navbar
nav {
    .container {
        .navbar-toggler {
            background-color: $nav-btn-dark;
            border-radius: 0% !important;
            box-shadow: none !important;
        }

        .search_box {
            input {
                background-color: $nav-btn-dark !important;
                transition: .3s ease-in;
                visibility: hidden;

                &::-webkit-input-placeholder {
                    color: white !important;
                }

                &.active_search_box {
                    visibility: visible;
                }
            }

            .btn-dark {
                background-color: $nav-btn-dark !important;
            }
        }

        .collapse {
            ul {
                li {
                    a {
                        text-transform: uppercase;
                        color: white;
                        font-weight: 600;
                        transition: .3s ease-in;

                        &.active,
                        &:hover {
                            color: $primary-color !important;
                        }
                    }
                }
            }
        }
    }
}

// marquee_box 
.marquee_box {
    background-color: $primary-color;

    .container {
        .d-flex {
            .news_badge {
                padding: 8px 10px;
                color: white;
                background-color: $secondary-color;
                width: 200px;
                text-align: center;

                @media screen and (max-width: 1024px) {
                    width: 300px;

                    @media screen and (max-width: 912px) {
                        width: 350px;
    
                        @media screen and (max-width: 820px) {
                            width: 400px;
        
                            @media screen and (max-width: 768px) {
                                width: 350px;
                                font-size: .8rem;
            
                                @media screen and (max-width: 425px) {
                                    width: 650px !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// hero posts
section.hero_post {
    .container {
        .row {
            .col-md-3 {
                .hero_post_blocks {
                    height: 250px;
                    position: relative;

                    &:hover {
                        a {
                            text-decoration: underline !important;
                        }
                    }
                    
                    &:nth-child(1) {
                        background: linear-gradient(rgba(0, 0, 0, 0.419), rgba(0, 0, 0, 0.419)), url('../../utils/images/post\ 1.jpg');
                        background-position: center;
                        background-size: cover;
                    }

                    &:nth-child(2) {
                        background: linear-gradient(rgba(0, 0, 0, 0.419), rgba(0, 0, 0, 0.419)), url('../../utils/images/post\ 2.jpg');
                        background-position: center;
                        background-size: cover;
                    }
                }
            }
        }
    }
}